
.success {
    color: var(--success-foreground);
}
.error {
    color: var(--error-foreground);
}
.neutral {
    color: var(--neutral-foreground);
}
.warning {
    color: var(--warning-foreground);
}
.info{
    color: var(--info-foreground);
}