.container {
    position: relative;
    display: flex;
}
.nameLabel {
    position: absolute;
    bottom: 100%;
}
.input {
    flex: 1;
    height: 2em;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 1em;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    height: 100%;
    aspect-ratio: 1;
    transition: opacity ease-in-out 200ms;
}
.icon:hover {
    cursor: pointer;
    opacity: .7;
}


.optionsPanel {
    position: absolute;
    background: var(--background-color);
    z-index: 1;
    width: 100%;
    top: 100%;
}
.optionsPanelOpen {
    transition: opacity ease-in-out 300ms;
    visibility: visible;
    opacity: 1;
}
.optionsPanelClose {
    visibility: hidden;
    opacity: 0;
}

.medium {
    height: 2.5em;
    border-width: 1.5px;
}
.large {
    height: 3em;
    border-width: 2px;
}


.success {
    border-color: var(--success-background);
}
.error {
    border-color: var(--error-background);
}
.neutral {
    border-color: var(--neutral-background);
}
.warning {
    border-color: var(--warning-background);
}
.info{
    border-color: var(--info-background);
}