.container {
    border-radius: 5px;
    border-style: solid;
    font-weight: bold;
    font-size: inherit;

    margin-block: .3em;
    margin-inline: .2em;
}
.container:hover {
    filter: brightness(.96);
    cursor: pointer;
}
.container:active {
    filter: brightness(.9);
}

.small {
    padding-block: .5em;
    padding-inline: 1em;
}
.medium {
    padding-block: .75em;
    padding-inline: 1.5em;
}
.large {
    padding-block: 1em;
    padding-inline: 2em;
}

.success {
    background-color: var(--success-background);
    border-color: var(--success-background);
    color: var(--success-foreground);
}
.error {
    background-color: var(--error-background);
    border-color: var(--error-background);
    color: var(--error-foreground);
}
.neutral {
    background-color: var(--neutral-background);
    border-color: var(--neutral-background);
    color: var(--neutral-foreground);
}
.warning {
    background-color: var(--warning-background);
    border-color: var(--warning-background);
    color: var(--warning-foreground);
}
.info{
    background-color: var(--info-background);
    border-color: var(--info-background);
    color: var(--info-foreground);
}

.plain {
    color: inherit;
    border: unset;
}
.outlined {
    background-color: var(--background-color);
}
.text {
    margin-block: unset;
    margin-inline: var(--letter-spacing);
    padding-block: 2px;
    padding-inline: .5em;

    background-color: var(--neutral-background);
    border: unset;
}