.calendarContainer {
    background-color: white;
    flex: 1;
    padding: .25em;
    overflow: hidden;
}
.calendarContainer > header {
    display: flex;
    background-color: var(--background-color);
    align-items: center;
    border-radius: 10px;
    padding: .5em;
    text-align: center;
}
.calendarContainer > header > div[class="calendar-navigation-buttons"] {
    display: inline-block;
}
.calendarContainer > header > div[class="calendar-title"] {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
}
.resetToday {
    border-radius: 10px;
    box-shadow: 0 5px 5px -3px var(--foreground-color-primary);
    padding: .5em;
}
.resetToday:hover {
    box-shadow: 0 5px 5px -px var(--foreground-color-primary);
}

.calendarContainer > footer {
    background-color: var(--background-color);
    justify-content: center;
    border-radius: 10px;
}

@media (max-width: 500px) {
    .calendarContainer > header {
        font-size: small;
        font-weight: bold;
    }
}
@media (max-width: 450px) {
    .calendarContainer > header {
        font-size: x-small;
        font-weight: bold;
    }
}

.calendarGrid {
    display: grid;
    flex: 1;
    margin-block: 1em;
    margin-inline: .5em;
    grid-template-areas: 
            "hours      mon           tue          wed           thu           fri            sat           sun"
            "eight      eightmon      eighttue     eightwed      eightthu      eightfri       eightsat      eightsun"
            "nine       ninemon       ninetue      ninewed       ninethu       ninefri        ninesat       ninesun"
            "ten        tenmon        tentue       tenwed        tenthu        tenfri         tensat        tensun"
            "eleven     elevenmon     eleventue    elevenwed     eleventhu     elevenfri      elevensat     elevensun"
            "twelve     twelvemon     twelvetue    twelvewed     twelvethu     twelvefri      twelvesat     twelvesun"
            "thirteen   thirteenmon   thirteentue  thirteenwed   thirteenthu   thirteenfri    thirteensat   thirteensun"
            "fourteen   fourteenmon   fourteentue  fourteenwed   fourteenthu   fourteenfri    fourteensat   fourteensun"
            "fifteen    fifteenmon    fifteentue   fifteenwed    fifteenthu    fifteenfri     fifteensat    fifteensun"
            "sixteen    sixteenmon    sixteentue   sixteenwed    sixteenthu    sixteenfri     sixteensat    sixteensun"
            ;
    overflow: scroll;
    scrollbar-width: none;
}
.calendarGrid > div[class*="mon"] {
    min-width: 100px;
}
.calendarGrid > div[class*="tue"] {
    min-width: 100px;
}
.calendarGrid > div[class*="wed"] {
    min-width: 100px;
}
.calendarGrid > div[class*="thu"] {
    min-width: 100px;
}
.calendarGrid > div[class*="fri"] {
    min-width: 100px;
}
.calendarGrid > div[class*="sat"] {
    min-width: 100px;
}
.calendarGrid > div[class*="sun"] {
    min-width: 100px;
}
.calendarGrid > div[class*="_eight_"] {
	min-width: 50px;
}
.calendarGrid > div[class*="_nine_"] {
	min-width: 50px;
}
.calendarGrid > div[class*="_ten_"] {
	min-width: 50px;
}
.calendarGrid > div[class*="_eleven_"] {
	min-width: 50px;
}
.calendarGrid > div[class*="_twelve_"] {
	min-width: 50px;
}
.calendarGrid > div[class*="_thirteen_"] {
	min-width: 50px;
}
.calendarGrid > div[class*="_fourteen_"] {
	min-width: 50px;
}
.calendarGrid > div[class*="_fifteen_"] {
	min-width: 50px;
}
.calendarGrid > div[class*="_sixteen_"] {
	min-width: 50px;
}

.sun { grid-area: sun; }
.mon { grid-area: mon; }
.tue { grid-area: tue; }
.wed { grid-area: wed; }
.thu { grid-area: thu; }
.fri { grid-area: fri; }
.sat { grid-area: sat; }

.eight {
    grid-area: eight;
    font-size: x-small;
    width: unset;
}
.nine {
    grid-area: nine;
    font-size: x-small;
}
.ten {
    grid-area: ten;
    font-size: x-small;
}
.eleven {
    grid-area: eleven;
    font-size: x-small;
}
.twelve {
    grid-area: twelve;
    font-size: x-small;
}
.thirteen {
    grid-area: thirteen;
    font-size: x-small;
}
.fourteen {
    grid-area: fourteen;
    font-size: x-small;
}
.fifteen {
    grid-area: fifteen;
    font-size: x-small;
}
.sixteen {
    grid-area: sixteen;
    font-size: x-small;
}


.eightsun{ grid-area: eightsun; }
.eightmon{ grid-area: eightmon; }
.eighttue{ grid-area: eighttue; }
.eightwed{ grid-area: eightwed; }
.eightthu{ grid-area: eightthu; }
.eightfri{ grid-area: eightfri; }
.eightsat{ grid-area: eightsat; }

.ninesun{ grid-area: ninesun; }
.ninemon{ grid-area: ninemon; }
.ninetue{ grid-area: ninetue; }
.ninewed{ grid-area: ninewed; }
.ninethu{ grid-area: ninethu; }
.ninefri{ grid-area: ninefri; }
.ninesat{ grid-area: ninesat; }

.tensun{ grid-area: tensun; }
.tenmon{ grid-area: tenmon; }
.tentue{ grid-area: tentue; }
.tenwed{ grid-area: tenwed; }
.tenthu{ grid-area: tenthu; }
.tenfri{ grid-area: tenfri; }
.tensat{ grid-area: tensat; }

.elevensun{ grid-area: elevensun; }
.elevenmon{ grid-area: elevenmon; }
.eleventue{ grid-area: eleventue; }
.elevenwed{ grid-area: elevenwed; }
.eleventhu{ grid-area: eleventhu; }
.elevenfri{ grid-area: elevenfri; }
.elevensat{ grid-area: elevensat; }
.twelvesun{ grid-area: twelvesun; }
.twelvemon{ grid-area: twelvemon; }
.twelvetue{ grid-area: twelvetue; }
.twelvewed{ grid-area: twelvewed; }
.twelvethu{ grid-area: twelvethu; }
.twelvefri{ grid-area: twelvefri; }
.twelvesat{ grid-area: twelvesat; }

.thirteensun{ grid-area: thirteensun; }
.thirteenmon{ grid-area: thirteenmon; }
.thirteentue{ grid-area: thirteentue; }
.thirteenwed{ grid-area: thirteenwed; }
.thirteenthu{ grid-area: thirteenthu; }
.thirteenfri{ grid-area: thirteenfri; }
.thirteensat{ grid-area: thirteensat; }
.fourteensun{ grid-area: fourteensun; }
.fourteenmon{ grid-area: fourteenmon; }
.fourteentue{ grid-area: fourteentue; }
.fourteenwed{ grid-area: fourteenwed; }
.fourteenthu{ grid-area: fourteenthu; }
.fourteenfri{ grid-area: fourteenfri; }
.fourteensat{ grid-area: fourteensat; }

.fifteensun{ grid-area: fifteensun; }
.fifteenmon{ grid-area: fifteenmon; }
.fifteentue{ grid-area: fifteentue; }
.fifteenwed{ grid-area: fifteenwed; }
.fifteenthu{ grid-area: fifteenthu; }
.fifteenfri{ grid-area: fifteenfri; }
.fifteensat{ grid-area: fifteensat; }
.sixteensun{ grid-area: sixteensun; }
.sixteenmon{ grid-area: sixteenmon; }
.sixteentue{ grid-area: sixteentue; }
.sixteenwed{ grid-area: sixteenwed; }
.sixteenthu{ grid-area: sixteenthu; }
.sixteenfri{ grid-area: sixteenfri; }
.sixteensat{ grid-area: sixteensat; }
