
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    padding-inline: 3em;
    justify-content: center;
    gap: .5em;
}
.content > span {
    color: var(--error-foreground);
    font-size: small;
}
.form > footer {
    align-self: flex-end;
}
