#__next {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    background-color: var(--background-color);
}

#topbar {
    color: var(--foreground-color-primary);
    height: var(--topbar-height);
}

#main{
    position: absolute;
    top: var(--topbar-height);
    bottom: 0;
    display: flex;
    gap: .5cm;
}

#content {
    overflow: auto;
}

#sidebar {
    height: 100%;
    width: var(--sidebar-width);

    padding-block: 1em;

    display: flex;
    flex-direction: column;
}