#__next {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    background-color: var(--background-color);
}

#topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--topbar-height);

    color: var(--foreground-color-primary);

    padding-inline: 1em;
    box-shadow: 0 0 10px 1px var(--foreground-color-primary);
}
#topbar > div {
    display: flex;
    align-items: center;
    gap: .5em;
}

#main{
    position: absolute;
    top: var(--topbar-height);
    bottom: 0;
    display: flex;
    gap: .5cm;
}

#content {
    overflow: auto;
}

#sidebar {
    height: 100%;
    width: var(--sidebar-width);

    padding-block: 1em;

    display: flex;
    flex-direction: column;
}