* {
    box-sizing: border-box;
}
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--font-normal-size);
    color: var(--foreground-color-primary);
}
h1 {
    color: var(--title-foreground);
}
h2 {
    color: var(--subtitle-foreground);
}