:root{
    /*          elements            */
    /*          colors              */
    --background-color: #f5f5f5;
    --success-background: #30cc30;
    --error-background: #ee3030;
    --neutral-background: #ddd;
    --warning-background: #ddaa33;
    --info-background: #2895cf;
    --selected-background: #d0dfeb;

    /*        dimensions             */
    --topbar-height: 4rem;
    --sidebar-width: 4rem;
    --sidebar-open-width: 9em;
    --letter-spacing: 5px;
    --button-border-size: 1px;
    --button-margin-block-large: 3em;
    --button-padding-block-large: 1em;
    --button-padding-inline-large: 2em;

    /*           text               */
    /*          colors              */
    --foreground-color-primary: #202020;
    --foreground-color-secondary: #505050;
    --success-foreground: #10bb10;
    --error-foreground: #ee3030;
    --warning-foreground: #e87f28;
    --neutral-foreground: #555;
    --title-foreground: #1a1abc;
    --info-foreground: #1a648b;
    --subtitle-foreground: #1a42bc;

    /*        dimensions             */
    --font-normal-size: medium;
    --font-title-size : xx-large;
    --font-subtitle-size: x-large;
}